# IDEs
.vs/
.vscode/

# Stuff used by autotools
autom4te.cache/
autoscan.log
.deps/
config.log
config.status
Makefile
config.h
Makefile.in
aclocal.m4
stamp-h1
build/

# Executables
src/mancala
src/genetic

# Object files
*.o

*~